#watch-trailer {
  opacity: 0;
  transform: translateY(20px);
}


.loader {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
